# Скомпилированные исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
xraytool.exe
xraytool_very_old
build/
bin/
*.dat

# Тестовые бинарники
*.lock
*.test
devices_state.json
*.db
*.db-shm
*.db-wal
build.ps1
*.ps1

# Go workspace
go.work
go.work.sum

# Настройки редакторов
.idea/
.vscode/

# Конфигурационные файлы (чтобы случайно не слить ключи/пароли в интернет)
xray_api_config.json
non_existent_config.yaml

# Файлы логов
*.log

# агенты и тп
.agents/
.antigravitycli/

xray-core*/
xraytool_server_save/
tests/