# Скомпилированные исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
xraytool
xraytool.exe
xraytool_very_old
build/
bin/
*.dat

# Тестовые бинарники
*.lock
*.test
devices_state.json
*.db
*.db-shm
*.db-wal
build.ps1
*.ps1
*test*.yaml
*.py

# Go workspace
go.work
go.work.sum

# Настройки редакторов
.idea/
.vscode/

# Конфигурационные файлы (чтобы случайно не слить ключи/пароли в интернет)
xray_api_config.json
test_xray_config2.json
non_existent_config.yaml
config*.json
config*.template.json
/config*.yaml
/config*.yaml

# Файлы логов
*.log

# агенты и тп
.agents/
.antigravitycli/

xray-core*/
xraytool_server_save/
tests/
.VSCodeCounter/
config.yaml
